.container.contact__container {
  width: 60%;
  display: grid;
  grid-template-columns: 38% 58%;
  gap: 12%;
}
.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  display: grid;
  grid-template-columns: 38% 58%;
}
.contact__option {
    height: 40%;
    width: 70%;
    margin-left: 20%;
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}
.contact__option:hover {
  background: transparent;
  border-color: var(--primary-variant);
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.9rem;
}

/* ===============form=============== */
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-right: 3%;
}

input,textarea {
    
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  color: white;
  resize: none;
}


/* --------media queries------------- */
@media screen and (max-width: 1024px){
  .container.contact__container{
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
/* --------media queries small devices------------- */
@media screen and (max-width: 600px){
    .container.contact__container{
        width: var(--container-width-sm);
      }

    }